[submodule "lib/ad5940lib"]
	path = lib/ad5940lib
	url = https://github.com/Decisionics/ad5940lib.git
[submodule "lib/TFT_eSPI"]
	path = lib/TFT_eSPI
	url = https://github.com/Decisionics/TFT_eSPI.git
[submodule "lib/JPEGDecoder"]
	path = lib/JPEGDecoder
	url = https://github.com/Decisionics/JPEGDecoder.git
